aside.menu-area {
    background-color: none;
    padding-right: 20px;
}

.menu a {
    display: inline-flex;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 15px;

}

.menu i {
    padding-right: 5px;
}


.menu a:hover {
    background: linear-gradient(to left, rgb(171, 84, 211), rgba(67, 15, 211, 0));
    border-radius: 20px;
}